<%= stylesheet_link_tag 'forms' %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Account Status</h1>
    </div>
</div>
<div class="mb-5">
    <h4>Fees due: <%= number_to_currency current_user.debt %></h4>
</div>
<div>
    <h4>Current Loans:</h4>
    <br> </br>
    <table>
        <tr>
            <% current_user.loans.includes(book_item: :book).order(:due_date).each do |loan| %>
            <div>
                <%= content_tag :h3, "Loan for book: #{loan.book_item.book.title}" %>
                <%= content_tag :p, "Due: #{loan.due_date.strftime('%x')}", class: ("bg-warning" if loan.due_date < Time.now) %>
            </div>
            <% end %>
        </tr>
    </table>
</div>
<br />
<%= link_to "Edit Account", edit_user_registration_path %>
