<p id="notice"><%= notice %></p>

<h4 style="padding: 30px 0px 15px 0px">
  <strong>Title:</strong>
  <%= @book.title %>
</h4>

<p> <%= image_tag @book.image if @book.image.attached? %> </p>

<p>
    <strong>Author:</strong>
    <%= @book.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Copies:</strong>
  <%= @book.copies %>
</p>

<p>
  <strong>Available:</strong>
  <%= @book.available %>
</p>
<% if(current_user && current_user.admin?) %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Back', books_path %>
